
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container {
    display: flex;
    place-self: center;
}
.post {
    justify-content: center;
    background-color: white;
    width: 400px;
}
.post-body {
    display:flex;
    flex-wrap: wrap;
   margin: 10px;
   height: 200px;
}
.post-header{
   display: flex;
    align-items: center;
    margin: 10px;
    height: 50px;
    gap: 270px;
}
.icon-name{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.post-icons {
    display: flex;
    align-items: center;
    gap:275px
} 
.left-icons{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;}